<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kleytonpascoal.movies.test.features">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>

    <application android:allowBackup="true"
        android:supportsRtl="true">

    </application>

</manifest>
